.carro{
    width: 150px;
    position: relative;
    /*Registrar animacion*/
    animation: mover 3s ease;
}

/*Animacion para animar el carro*/
@keyframes mover{
    /*
    0%{
        top: 0; left: 0;
    }
    25%{
        top: 0; left: 500px;
    }
    50%{
        top: 500px; left: 500px;
    }
    75%{
        top: 500px; left: 0;
    }
    100%{
        top: 0; left: 0;
    }
    */
    0%{
        top: 0; left: 0;
    }
    25%{
        top: 0; left: 500px;
    }
    50%{
        top: 500px; left: 0;
    }
    75%{
        top: 500px; left: 500px;
    }
    100%{
        top: 0; left: 0;
    }
}