.contenedor{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadro{
    width: 400px;
    height: 200px;
    background-color: #EAE6E3;
    padding: 13px;
}