*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #e0f2ff;
}

/* Menu */
.cabezera{
    width: 100%;
    height: 100px;
    background-color: #d1d9ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    width: 90px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    margin-right: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 20px;
}

/*Sesion banner*/
.banner-principal{
    width: 100%;
    height: 500px;
    background-color: #8c9fff;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-principal .contenido{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-principal .contenido h1{
    font-size: 40px;
    text-align: center;
}

.banner-principal .contenido p,
.banner-principal .contenido a{
    font-size: 20px;
    text-align: center;
}


.banner-principal .contenido a{
    text-decoration: none;
    color: black;
    background-color: #49aafa;
    padding: 10px 15px;
    border-radius: 10px;
}

/* Sesion flotante */
.flotante{
    display: flex;
    justify-content: center;
}

.flotante .imagenes,
.slider .imagenes{ /* Estilo de la sesion del slider*/
    display: flex;
    width: 80%;
    justify-content: center;
    position: absolute;
    margin-top: -90px;
}

.flotante .imagenes img,
.slider .imagenes img{ /* Estilo de la sesion del slider*/
    width: 200px;
    margin: 0 10px;
}

/* Sesion galeria */
.galeria,
.blog{ /* Estilo de la sesion del blog*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria .imagenes,
.blog .contenido, /* Estilo de la sesion del blog*/
.testimonio article{ /* Estilo de la sesion del testimonio*/
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galeria h2,
.blog > h2,  /* Estilo de la sesion del blog*/
.slider > h2{ /* Estilo de la sesion del slider*/
    font-size: 50px;
    margin-top: 140px;
    text-align: center;
}

.galeria .imagenes figure{
    margin: 10px;
}

.galeria .imagenes figure img{
    width: 250px;
}

.galeria .imagenes figure figcaption{
    text-align: center;
}

/* Sesion blog */
.blog .contenido{
    justify-content: space-between;
}

.blog .contenido article{
        width: 48%;
        margin: 5px;
}

.blog .contenido article img{
    width: 100%;
}

/* Sesion slider */
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider .imagenes{
    position: relative;
    margin-top: 20px;
    justify-content: center;
}

/* Sesion testimonio */
.testimonio{
    display: flex;
    justify-content: center;
}
.testimonio article{
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 100px;
}

.testimonio article figure img{
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

/* Pie de pagina */
.pie{
    margin-top: 100px;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8c9fff;
}


.pie .redes img{
    width: 30px;
}