/* Barra de navegacion*/

.sesion-nav{
    background-color: #f8afff;
    z-index: 10;
    width: 100%;
}

.sesion-nav a img{
    width: 100px;
}

.sesion-nav .contenedor{
    padding: 0;
}

.sesion-nav .enlaces{
    justify-content: center;
}

.sesion-nav .enlaces ul{
    background-color: transparent;
    padding: 5px;
}

.sesion-nav .enlaces ul li{
    padding: 3px;
    margin: 0 10px;
    font-weight: bold;
}

.sesion-nav .enlaces ul li:hover{
    background-color: #ff6e54;
    border-radius: 5px;
}

.sesion-nav .enlaces ul li a{
    color: #000000;
}

/* Sesion del banner*/
.banner{

    top: 121px;
    width: 100%;
    height: 457px;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}


/* Sesion de destacados */
.destacados h2{
    text-align: center;
    margin-top: 20px;
}

.destacados .contenido .item{
    margin-top: 20px;
}

.destacados .contenido .item .imagen-1,
.destacados .contenido .item .imagen-2,
.destacados .contenido .item .imagen-3{
    width: 100% ;
    height: 500px;
    background-color: #ff9a89;
    background-size: 50vh 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.destacados .contenido .item .imagen-1{
    background-image: url("/img/img1.jpg");
}

.destacados .contenido .item .imagen-2{
    background-image: url("/img/img2.jpg");
}

.destacados .contenido .item .imagen-3{
    background-image: url("/img/img3.jpg");
}

.destacados .contenido .item .text{
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 5px;
    text-align: justify;
}

.destacados button{
    margin-top: 30px;
    border-color: #ff6e54;
    color: #ff6e54;
}

.destacados button:hover{
    background-color: #ff6e54;
    border-color: #ff6e54;
}
 

/* Sesion referencias */
.referencias{
    margin-top: 30px;
}

.referencias h2{
    text-align: center;
}
